body{
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 0;
  padding: 0;
}

h3{
  color: blueviolet;
}

h4 {
  color: blueviolet;
}

header {
  margin-top: 10;
  margin-bottom: 5S;
  margin-left: 10px;
  margin-right: 10px;
}

header h1, h2{
  text-align: center;
  color: blueviolet;
}

header p{
  text-align: center;
}

nav {
  text-align: center;
}

nav ul li{
  display: inline;
  margin: 30px;
}

.barra-navegacao{
  color: black; 
  text-decoration: none;
}

.barra-navegacao:hover {
  color: rgb(127, 68, 147);
}

.links-externos{
  color: rgb(127, 68, 147); 
  text-decoration: none;
}

.links-externos:hover {
  color: rgb(157, 119, 169);
}

main {
  margin-top: 10;
  margin-bottom: 5S;
  margin-left: 10px;
  margin-right: 10px;
}

main h2 {
  text-align: left;
}

#introducao-inicio{
  text-align: center;
}

footer{
  background-color: #625d8a;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 0;
}



