body {
  background-color: rgb(255, 255, 255);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 0;
  padding: 0;
}

h4 {
  color: blueviolet;
}

header {
  margin: 10px;
}

header h1, h2, h3 {
  text-align: center;
  color: blueviolet;
}

header p {
  text-align: center;
}

nav {
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 30px;
}

nav {
  background-color: #625d8a;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.barra-navegacao {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.barra-navegacao:hover {
  color: rgb(170, 123, 186);
}

section {
  text-align: center;
}

.links-externos {
  color: rgb(127, 68, 147);
  text-decoration: none;
}

.links-externos:hover {
  color: rgb(157, 119, 169);
}

main {
  margin: 10px;
}

#introducao-inicio {
  text-align: center;
}

footer {
  background-color: #625d8a;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
}
